* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 0%;
}

/* navbar */
header {
  color: #141414;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.topnav {
  background-color: #2a2a2a;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 1%;
  height: 11.2%;
}
.navbar-brand {
  width: 100%;
  margin-right: 100%;
  margin-top: 0.5%;
}
.brand {
  margin-top: -2%;
  margin-left: 5%;
  margin-right: -300%;
  width: 100%;
}

.img-brand {
  width: 15%;
  height: 50%;
  float: left;
  margin-left: 0%;
  padding-left: 1.5%;
  margin-top: -1.5%;
  background-color: rgb(241, 241, 241);
  padding-top: 1%;
  padding-bottom: 20px;
}

.ul {
  text-align: right;
  float: right;
  padding-right: 2%;
  width: 75%;
  font-size: 100%;
}
/* Style the links inside the navigation bar */

.topnav .ul a {
  float: left;
  color: #ffff;
  padding: 2%;
}

.topnav-right {
  margin-top: 0%;
  padding: 0.15%;
  padding-left: 15%;
  margin-right: 25%;
  display: flex;
  margin-bottom: 0.4%;
}
.topnav-right a {
  padding-inline: 5%;
  color: #141414;
  text-align: right;
  margin-right: 15%;
  text-decoration: none;
  margin-bottom: 1%;
}
/* Change the color of links on hover */
.topnav .ul a:hover {
  background-color: #ffdc3c;
  color: black;
  border-radius: 6%;
  -webkit-transform: scale(1.08);
  transform: scale(1.05);
}
@media screen and (max-width: 1100px) {
  .topnav-right {
    padding-right: 5%;
  }
  .topnav-right a {
    font-size: medium;
  }
}
@media screen and (max-width: 850px) {
  .topnav-right {
    padding-right: 10%;
  }
  .topnav-right a {
    font-size: small;
  }
  .ul {
    margin-right: 10%;
  }
  .jumbotron-hello {
    font-size: medium;
    height: auto;
    width: 100%;
  }
  .container-description {
    font-size: medium;
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 530px) {
  header {
    height: auto;
    width: 100%;
    display: contents;
  }
  .img-brand {
    width: 50%;
    padding-bottom: 15%;
    padding-top: 10%;
    padding-top: auto;
  }
  .topnav {
    padding-bottom: 5%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 1px;
  }
  .ul {
    width: 100%;
    margin-left: 1%;
    display: contents;
  }
  .topnav-right {
    display: grid;
    margin-bottom: 16%;
    font-size: 75%;
    margin-left: 2px;
  }
  .topnav-right a {
    text-align: left;
    margin-bottom: 5%;
    margin-left: -25%;
  }
  .jumbotron-hello {
    font-size: small;
    height: auto;
    width: 100%;
  }
  .container-description {
    font-size: small;
    height: auto;
    width: 100%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fdfdfd;
  align-items: right;
  height: auto;
}

/* start jumbotron */
.jumbotron-hello {
  height: 100vh;

  background-image: url(https://raw.githubusercontent.com/reyfaldigit/website-todolist-feelstora/main/white-rocket.png);
  background-size: cover;
}

.container-hello {
  width: 600px;
  height: 230px;

  margin-top: 150px;
  text-align: justify;
}

.container-hello h1 {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 400;
  font-size: 50px;
  line-height: 40px;
  color: #000000;

  margin-bottom: 20px;
}

.container-hello p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #000000;

  margin-left: 5px;
}
/* end jumbotron */

/* start description */
.container-description {
  height: 100%;

  background-image: url(https://raw.githubusercontent.com/reyfaldigit/website-todolist-feelstora/main/bg-description.png);
  background-size: cover;
}

.container-head {
  width: 100%;
  height: 90px;

  margin-bottom: 80px;
  padding: 10px;

  text-align: center;
}

.container-head h1 {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;

  margin-top: 40px;

  color: #000000;
}

.container-head p {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.container-features-image {
  height: 100%;
  margin-top: 30px;
}

.container-features-text {
  height: 380px;

  margin-top: 40px;
  margin-bottom: 20px;
}

.container-todolist-image {
  width: 390px;
  height: 250px;

  margin-left: 45px;
  margin-right: 20px;

  background-image: url(https://raw.githubusercontent.com/reyfaldigit/website-todolist-feelstora/main/todolist-image.png);
  background-size: contain;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.container-todolist-text {
  width: 700px;
  height: 300px;

  margin-left: 85px;
  margin-right: 60px;

  text-align: center;
}

.container-todolist-text h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;

  color: #000000;
}

.container-todolist-text p {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.container-notebook-image {
  width: 390px;
  height: 250px;

  margin-left: 20px;
  margin-right: 20px;

  background-image: url(https://raw.githubusercontent.com/reyfaldigit/website-todolist-feelstora/main/notebook-image.png);
  background-size: cover;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.container-notebook-text {
  width: 750px;
  height: 300px;

  margin-left: 75px;
  margin-right: 50px;

  text-align: center;
}

.container-notebook-text h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;

  color: #000000;
}

.container-notebook-text p {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.container-calendar-image {
  width: 390px;
  height: 250px;

  margin-left: 20px;
  margin-right: 40px;

  background-image: url(https://raw.githubusercontent.com/reyfaldigit/website-todolist-feelstora/main/calendar-image.png);
  background-size: cover;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.container-calendar-text {
  width: 700px;
  height: 300px;

  margin-left: 75px;
  margin-right: 80px;

  text-align: center;
}

.container-calendar-text h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;

  color: #000000;
}

.container-calendar-text p {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}
/* end description */

/* start profile */
.bg-team {
  background-image: url(https://raw.githubusercontent.com/reyfaldigit/website-todolist-feelstora/main/bg-team.png);
  background-size: cover;
}

.container-profile {
  height: 100%;
  margin-top: 30px;
}

.container-profile img {
  width: 300px;
  height: 400px;
}

.profile-heading h3 {
  border: 2px solid #2a2a2a;
  border-radius: 20px;
  background-color: #ffdc3c;
  box-shadow: 3px 3px 2px #2a2a2a;

  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;

  color: #000000;

  margin-top: 20px;
}

.profile-heading p {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;

  color: #000000;

  margin-top: 20px;
}

.first-hidden {
  opacity: 0;
}

.second-hidden {
  opacity: 0;
}

.eleventh {
  margin-left: 20px;
  margin-right: 10px;
}

.twelfth {
  margin-left: 10px;
  margin-right: 10px;
}

.thirteenth {
  margin-left: 10px;
  margin-right: 20px;
}

.container-11-13 {
  display: flex;
  justify-content: center;
}

.single_advisor_profile {
  position: relative;
  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border: 2px solid #fdfc3c;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.single_advisor_profile .advisor_thumb {
  position: relative;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  background-color: #2a2a2a;
  overflow: hidden;
}

.single_advisor_profile .advisor_thumb::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 150%;
  height: 80px;
  bottom: -45px;
  left: -25%;
  content: '';
  background-color: #ffffff;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

@media only screen and (max-width: 575px) {
  .single_advisor_profile .advisor_thumb::after {
    height: 160px;
    bottom: -90px;
  }
}

.single_advisor_profile .advisor_thumb .social-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 30px;
  text-align: right;
}

.single_advisor_profile .advisor_thumb .social-info a {
  font-size: 14px;
  color: #2a2a2a;
  padding: 0 5px;
}

.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
  color: #fdfc3c;
}

.single_advisor_profile .advisor_thumb .social-info a:last-child {
  padding-right: 0;
}

.single_advisor_profile .single_advisor_details_info {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: #ffffff;
}

.single_advisor_profile .single_advisor_details_info::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 3px;
  background-color: #fdfc3c;
  content: '';
  top: 12px;
  right: 30px;
}

.single_advisor_profile .single_advisor_details_info h6 {
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info h6 {
    font-size: 14px;
  }
}

.single_advisor_profile .single_advisor_details_info p {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_advisor_profile .single_advisor_details_info p {
    font-size: 12px;
  }
}

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
  background-color: #fdfc3c;
}

.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
  color: #2a2a2a;
}

.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
  color: #2a2a2a;
}

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
  background-color: #fdfc3c;
}

.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
  background-color: #2a2a2a;
}

.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
  color: #2a2a2a;
}

.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
  color: #2a2a2a;
}
/* end profile */
